.produto {
    background-color: rgb(255, 255, 255);
    max-width: 12.8rem;
    max-height: 18rem;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 3px;
    border: 2px solid #ccc;
    
    
  }
  
  .produto-image {
    max-height: 200px;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
    aspect-ratio: 1;
    object-fit: contain;
    margin-bottom: 0.5rem;
  }
  
  
  .produto-title {
    width: 100%;
    min-height: 7rem;
    max-height: 7rem;
    transform-origin: center;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    text-align: center;
    margin-bottom: 10px;
    padding: 10%;
    
  }
  
  .produto-description {
    margin-bottom: 10px;
  }
  
  .produto-link {
    width: 100%;
    position: relative;
    background-color: rgb(187, 187, 187);
    color:rgb(0, 0, 0);
    text-align: center;
  }

  .produto-preco {
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 0.5rem;
  }

  .produto-content{
  }