h1 {
    color: #ff4f00;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .conteudo {
    font-weight: 300;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
    background-color: #f8f9fa;
    border-radius: 1rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
  }
  
  .imagem-sobre {
    width: 24rem;
    height: 30rem;
    border-radius: 1rem;
  }

  @media (max-width: 1024px){
    h1 {
      font-size: 2.5rem;
    }

    .conteudo {
        flex-direction: column;
      margin-top: 1rem;
      margin-left: 1rem;
      margin-right: 1rem;
      margin-bottom: 1rem;
      padding: 1rem;
    }

    .imagem-sobre {
      width: 60%;
      height: auto;
      margin-top: 6rem;
    }


    
  }
  

  @media (max-width: 768px) {
    h1 {
      font-size: 2rem; 
    }
  
   .conteudo {
      flex-direction: column; 
      align-items: center;
      margin-top: 1rem;
      margin-left: 1rem;
      margin-right: 1rem; 
      margin-bottom: 1rem; 
      padding: 1rem; 
    }
  
   .imagem-sobre {
      width: 50%;
      height: auto;
      margin-top: 4rem;
    }
  }
  
  
  