footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ff4f00;
    color: #ffffff;
    font-weight: 500;
    font-size: 1rem;
    margin-top: 5px;
}

.imagem-footer{
    width: 10%;
}