footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ff4f00;
    color: #ffffff;
    font-weight: 500;
    font-size: 1rem;
    margin-top: 5px;
    min-width: 100%;
}

.imagem-footer{
    max-height: 5rem;
    object-fit: scale-down;
}