@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f7f7f7;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* ===== Scrollbar CSS ===== */
*::-webkit-scrollbar {
	width: 10px;
}

*::-webkit-scrollbar-track {
	background: #cecbc2;
  border-left: 1px solid #65292c;
}

*::-webkit-scrollbar-thumb {
	background-color: #c0bdb5;
	border-radius: 4px;
	border: 1px solid #777676;
  border-left: 1px solid #65292c;
}