/* ===== Importes: Fontes ===== */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

.box{
    justify-content: center;
    align-items: center;
}

#background-img{
    background-image: url(/img/pexels-sanaan-2272752.jpg);
    background-position: bottom;
    background-size: cover;
}

.background{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background > .title-box{
    text-align: center;
    font-family: 'Black Ops One', sans-serif;
    font-weight: bolder;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #a83500;
    font-size: 3em; color: #ff4f00;
}

.background > .title-box > h1{
    text-align: center;
    font-family: 'Black Ops One', sans-serif;
    font-weight: bolder;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #a83500;
    font-size: 3em; color: #ff4f00;
}

.background > .title-box > h1{
    margin: 3px 0;
    font-size: 20vh;
}

.background > .title-box > span{
    font-size: 5vh;
}

.text-box{
    text-align: justify;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem;
    padding: 2rem;
    background-color: #f8f9fa;
    border-radius: 1rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
}